*, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary {
    width: 100vw;
    height: 92vh;
    background-color: rgb(100, 97, 97);
    margin: 0;
}

.grid-container {
    width: 100vw;
}

.mood-grid {
    display: grid;
    grid-template-columns: 30vw;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
}

.single-user {
    display: flex;
    flex-direction: column;
    background: rgb(185, 223, 223);
    height: 30vh;
}

.mood-key {
    display: flex;
    flex-direction: column;
    height: 15em;
    padding: 1em;
    gap: .7em;
    background: rgb(23, 27, 27);
    height: 70%;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    gap: 1em;
}

.poster {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
}

.mood-topic {
    text-transform: capitalize;
}

.mood-body {
    text-transform: capitalize;
    font-style: italic;
}